In [70]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [71]:
df = pd.read_excel('Salary_Dataset.xlsx')

In [72]:
df

     Staff ID   Age    Salary   JoinDate Grade  Performance
0         101  44.0       NaN 2020-05-13     C            4
1         102  26.0       NaN 2018-09-13     B            5
2         103  57.0  36379.42 2019-07-17     B            9
3         104  23.0  85810.91 2020-10-18     B            8
4         105  23.0  85810.91 2020-10-18     B            8
..        ...   ...       ...        ...   ...          ...
103       204  47.0  56554.05 2021-09-03     C            3
104       205  39.0  38684.40 2023-01-01     C            2
105       206  23.0  62999.60 2020-10-27     A            4
106       207   NaN  30654.59 2020-11-20     C            9
107       208  28.0  32361.52 2019-05-27     C            7

[108 rows x 6 columns]

### 1. Missing Values:
   - Identify the columns that contain missing values and count how many missing values are in each column.
   - Impute (fill) the missing values in the `Age` and `Salary` columns using the mean. Explain why you chose this method.

In [74]:
df.isnull ()
missing_data = df.isnull ()
missing_data.columns.values.tolist ()

['Staff ID', 'Age', 'Salary', 'JoinDate', 'Grade', 'Performance']

In [75]:
for column in missing_data.columns.values.tolist ():
    print ("\n")
    print (missing_data [column].value_counts())

Staff ID
False    108
Name: count, dtype: int64


Age
False    79
True     29
Name: count, dtype: int64


Salary
False    79
True     29
Name: count, dtype: int64


JoinDate
False    108
Name: count, dtype: int64


Grade
False    108
Name: count, dtype: int64


Performance
False    108
Name: count, dtype: int64

In [76]:
df.dtypes

Staff ID                int64
Age                   float64
Salary                float64
JoinDate       datetime64[ns]
Grade                  object
Performance             int64
dtype: object

In [77]:
avg_age = round (df ['Age'].mean (axis = 0), 0)

In [78]:
df['Age'] = df['Age'].replace(np.nan, avg_age).astype (int)
avg_age

41.0

In [79]:
#The avg age is 41 and it will be replaced in the null-columns

In [80]:
df ['Salary'] = df['Salary'].astype(float)
avg_salary = round (df ['Salary'].mean (axis = 0), 2)
avg_salary

60742.26

In [81]:
df ['Salary'] = df ['Salary'].replace (np.nan, avg_salary)

### 2. Duplicated Rows:
   - Check if there are any duplicated rows in the dataset. If so, remove the duplicates and provide the count of duplicates found.

In [83]:
print (df.duplicated().sum ())

0

No duplicated values are found.

### 3. Data Transformation:
   - Create a new column called `SalaryBracket` that bins the `Salary` values into categories: "Low", "Medium", and "High." Use appropriate salary ranges for each category.
   - Justify the ranges you selected for each salary bracket.

In [86]:
bins = np.linspace(min(df["Salary"]), max(df["Salary"]), 4)
bins

array([30206.67      , 49576.49666667, 68946.32333333, 88316.15      ])

In [87]:
group_names = ['Low', 'Medium', 'High']

In [88]:
df ['SalaryBracket'] = pd.cut (df ['Salary'], bins, labels = group_names, include_lowest = True)

In [89]:
df['SalaryBracket'].value_counts ()

SalaryBracket
Medium    52
High      31
Low       25
Name: count, dtype: int64

#### The salary range is divided among the minimum one third of the range, middle one third of the range and the maximum one third of the range.

### 4. Binning Performance Scores:
   - Divide the `Performance` scores into three bins: "Poor", "Average", and "Excellent." Use `pd.cut()` for this task and define the bin ranges clearly.
   - Explain how binning can make performance data easier to interpret.

In [91]:
bins = np.linspace(min(df["Performance"]), max(df["Performance"]), 4)
bins

array([ 1.,  4.,  7., 10.])

In [92]:
group_names = ['poor', 'Average', 'Excellence']

In [93]:
df ['PerformanceScore'] = pd.cut (df ['Performance'], bins, labels = group_names, include_lowest = True)

In [94]:
df['PerformanceScore'].value_counts ()

PerformanceScore
Excellence    44
poor          35
Average       29
Name: count, dtype: int64

#### Binning Performance can simplify continuous data into categorical data which makes easier to interpret.

### 5. Data Filtering:

   - Filter the dataset to show only the rows where `Performance` is greater than 8 and `Salary` is above 70,000. How many records meet these criteria?
   - Discuss scenarios in which data filtering is crucial for analysis.

In [96]:
Top_Performance = df ['Performance']>8

In [97]:
Top_Performance.value_counts ()

Performance
False    80
True     28
Name: count, dtype: int64

In [98]:
df [df['Performance']>8]

,Staff ID,Age,Salary,JoinDate,Grade,Performance,SalaryBracket,PerformanceScore
2,103,57,36379.42,2019-07-17,B,9,Low,Excellence
5,106,44,51082.69,2018-05-09,A,9,Medium,Excellence
6,107,48,60742.26,2019-03-20,B,10,Medium,Excellence
10,111,30,64094.40,2018-05-23,B,10,Medium,Excellence
13,114,39,59767.13,2023-10-17,C,10,Medium,Excellence
14,115,44,51082.69,2018-05-09,A,9,Medium,Excellence
18,119,32,80659.76,2022-10-14,B,9,High,Excellence
21,122,48,54227.33,2019-08-13,B,9,Medium,Excellence
25,126,38,60742.26,2019-07-16,B,10,Medium,Excellence
26,127,55,70126.70,2021-03-06,B,10,High,Excellence
29,130,24,54725.04,2018-05-19,C,10,Medium,Excellence
32,133,51,76119.46,2021-10-18,A,9,High,Excellence
37,138,44,78361.69,2022-02-23,B,9,High,Excellence
41,142,51,76119.46,2021-10-18,A,9,High,Excellence
44,145,41,81500.36,2022-11-13,C,10,High,Excellence
47,148,41,59674.45,2022-12-14,C,9,Medium,Excellence
56,157,41,40752.28,2023-08-09,B,10,Low,Excellence
58,159,26,87141.01,2018-03-17,C,9,High,Excellence
65,166,41,85828.44,2023-08-17,B,10,High,Excellence
71,172,41,60742.26,2019-06-12,A,9,Medium,Excellence
74,175,41,85828.44,2023-08-17,B,10,High,Excellence
75,176,40,55538.53,2020-11-16,A,9,Medium,Excellence
78,179,57,60742.26,2018-11-13,B,10,Medium,Excellence
81,182,41,77947.33,2022-05-19,C,10,High,Excellence
87,188,48,60742.26,2023-09-10,B,10,Medium,Excellence
89,190,36,82345.13,2021-03-11,A,10,High,Excellence
95,196,41,30654.59,2020-11-20,C,9,Low,Excellence
106,207,41,30654.59,2020-11-20,C,9,Low,Excellence

In [99]:
Top_Salary = df['Salary']>70000

In [100]:
Top_Salary.value_counts ()

Salary
False    78
True     30
Name: count, dtype: int64

In [101]:
df [df['Salary']>70000]

,Staff ID,Age,Salary,JoinDate,Grade,Performance,SalaryBracket,PerformanceScore
3,104,23,85810.91,2020-10-18,B,8,High,Excellence
4,105,23,85810.91,2020-10-18,B,8,High,Excellence
7,108,33,83904.73,2023-09-06,A,4,High,poor
18,119,32,80659.76,2022-10-14,B,9,High,Excellence
23,124,40,74435.71,2021-12-18,B,4,High,poor
24,125,52,81570.89,2020-02-22,A,5,High,Average
26,127,55,70126.70,2021-03-06,B,10,High,Excellence
32,133,51,76119.46,2021-10-18,A,9,High,Excellence
37,138,44,78361.69,2022-02-23,B,9,High,Excellence
38,139,41,85506.90,2018-09-25,B,8,High,Excellence
39,140,26,87203.46,2020-04-04,B,1,High,poor
41,142,51,76119.46,2021-10-18,A,9,High,Excellence
44,145,41,81500.36,2022-11-13,C,10,High,Excellence
48,149,41,88316.15,2018-10-13,A,5,High,Average
50,151,52,75057.95,2021-04-08,C,7,High,Average
51,152,58,80856.25,2021-08-02,C,1,High,poor
54,155,28,85090.40,2019-01-27,C,7,High,Average
58,159,26,87141.01,2018-03-17,C,9,High,Excellence
60,161,46,74500.22,2018-01-09,C,8,High,Excellence
65,166,41,85828.44,2023-08-17,B,10,High,Excellence
74,175,41,85828.44,2023-08-17,B,10,High,Excellence
76,177,38,70832.14,2021-06-19,B,4,High,poor
77,178,41,81376.63,2022-08-19,C,3,High,poor
81,182,41,77947.33,2022-05-19,C,10,High,Excellence
83,184,38,70832.14,2021-06-19,B,4,High,poor
85,186,34,82277.34,2022-12-28,B,7,High,Average
86,187,38,77428.42,2022-07-16,C,7,High,Average
88,189,56,71669.57,2022-10-28,B,7,High,Average
89,190,36,82345.13,2021-03-11,A,10,High,Excellence
98,199,39,82761.16,2018-01-28,C,4,High,poor

#### Data filtering is crucial for analysis when we want to know the the top performance and talents of the organization and to analyze the factors that can influence high performance and high pay.

### 6. Data Export:
   - Save the cleaned and transformed dataset to a new CSV file named `cleaned_dataset.csv`

In [139]:
df.to_csv("cleaned_dataset.csv", index=False)