# 1. Data Import and Initial Exploration

In [388]:
# 1. Import the necessary libraries: pandas and datetime .
import pandas as pd
from datetime import datetime

In [389]:
#2. Load the provided Excel file ( FI_CB_041_S3_ENG_ALL.XLSX ) into a Pandas DataFrame.
df = pd.read_excel("FI_CB_041_S3_ENG_ALL.XLSX")

#3. Display the first 7 rows of the dataset to explore its structure.
df.head(7)

,Bank of Thailand,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,FI_CB_041_S3 : Commercial Banks registered in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Unit: Millions of Baht),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Last Updated :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Retrieved date :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Q1/2011,Q2/2011,Q3/2011,Q4/2011,Q1/2012,Q2/2012,Q3/2012,Q4/2012,...,Q3/2017,Q4/2017,Q1/2018,Q2/2018,Q3/2018,Q4/2018,Q1/2019,Q2/2019 r,Q3/2019,Q4/2019 p
5,1,1. Interest income,104397,115785,128793,133474,135268,141598,147803,153338,...,165707,166322,164943,169012,172068,175322,178754,178498,179645,176252
6,2,1.1 Interest on Loans,81214,89597,98600,103316,105421,110289,113718,117383,...,131364,130937,129147,132235,134953,137098,139677,137418,139167,136582

# Part 2: Column Cleaning and Transformation

In [391]:
#4. Extract the 5th row of the dataset and convert it into a list of values.
row_5 = df.iloc[4]
row_5_list = row_5.tolist()
print (row_5_list)

[nan, nan, 'Q1/2011 ', 'Q2/2011 ', 'Q3/2011 ', 'Q4/2011 ', 'Q1/2012 ', 'Q2/2012 ', 'Q3/2012 ', 'Q4/2012 ', 'Q1/2013 r', 'Q2/2013 r', 'Q3/2013 r', 'Q4/2013 r', 'Q1/2014 r', 'Q2/2014 r', 'Q3/2014 r', 'Q4/2014 ', 'Q1/2015 ', 'Q2/2015 ', 'Q3/2015 ', 'Q4/2015 r', 'Q1/2016 r', 'Q2/2016 ', 'Q3/2016 r', 'Q4/2016 ', 'Q1/2017 ', 'Q2/2017 ', 'Q3/2017 ', 'Q4/2017 ', 'Q1/2018 ', 'Q2/2018 ', 'Q3/2018 ', 'Q4/2018 ', 'Q1/2019 ', 'Q2/2019 r', 'Q3/2019 ', 'Q4/2019 p']

In [449]:
#5. Remove unnecessary characters from the column headers, keeping only the year and month.

def clean_col(col):
    col = str(col).strip()              
    if "/" in col:
        q, y = col.split("/")          
        y = y.split()[0]          
        return f"{y}-{q}"     
    return col

cleaned_headers = [clean_col(col) for col in row_5_list]

In [394]:
#6. Create a new list of column names combining 'Sr.No' , 'Description' , and the cleaned date values.

column_names = ['Sr.No', 'Description', '2011-Q1', '2011-Q2', '2011-Q3', '2011-Q4', '2012-Q1', '2012-Q2', '2012-Q3', '2012-Q4', 
                '2013-Q1', '2013-Q2', '2013-Q3', '2013-Q4', '2014-Q1', '2014-Q2', '2014-Q3', '2014-Q4', '2015-Q1', '2015-Q2', '2015-Q3', 
                '2015-Q4', '2016-Q1', '2016-Q2', '2016-Q3', '2016-Q4', '2017-Q1', '2017-Q2', '2017-Q3', '2017-Q4', '2018-Q1', '2018-Q2', 
                '2018-Q3', '2018-Q4', '2019-Q1', '2019-Q2', '2019-Q3', '2019-Q4']

In [395]:
# 7. Replace the column names of the DataFrame with the new list.
df.columns = column_names

# Part 3: Data Cleaning and Reshaping

In [397]:
#8. Remove the top 5 rows which contain metadata and keep only the data rows.
 
df = df[5: ]
df.head (3)

,Sr.No,Description,2011-Q1,2011-Q2,2011-Q3,2011-Q4,2012-Q1,2012-Q2,2012-Q3,2012-Q4,...,2017-Q3,2017-Q4,2018-Q1,2018-Q2,2018-Q3,2018-Q4,2019-Q1,2019-Q2,2019-Q3,2019-Q4
5,1,1. Interest income,104397,115785,128793,133474,135268,141598,147803,153338,...,165707,166322,164943,169012,172068,175322,178754,178498,179645,176252
6,2,1.1 Interest on Loans,81214,89597,98600,103316,105421,110289,113718,117383,...,131364,130937,129147,132235,134953,137098,139677,137418,139167,136582
7,3,1.2 Transactions with financial institutio...,7873,9731,11759,10513,9053,8150,9672,10140,...,10329,10957,11351,11384,10164,10233,10633,10467,9534,8853

In [398]:
#9. Drop the'Sr.No' column as it is no longer needed.
df = df.drop(columns=['Sr.No'])

In [399]:
df.head (3)

,Description,2011-Q1,2011-Q2,2011-Q3,2011-Q4,2012-Q1,2012-Q2,2012-Q3,2012-Q4,2013-Q1,...,2017-Q3,2017-Q4,2018-Q1,2018-Q2,2018-Q3,2018-Q4,2019-Q1,2019-Q2,2019-Q3,2019-Q4
5,1. Interest income,104397,115785,128793,133474,135268,141598,147803,153338,152688,...,165707,166322,164943,169012,172068,175322,178754,178498,179645,176252
6,1.1 Interest on Loans,81214,89597,98600,103316,105421,110289,113718,117383,117038,...,131364,130937,129147,132235,134953,137098,139677,137418,139167,136582
7,1.2 Transactions with financial institutio...,7873,9731,11759,10513,9053,8150,9672,10140,9920,...,10329,10957,11351,11384,10164,10233,10633,10467,9534,8853

In [400]:
#10. Transform the DataFrame from wide to long format using the melt function.
df_long = pd.melt(df, 
                  id_vars=['Description'],        
                  var_name='FinQtr',              
                  value_name='Amount (Baht in Millions')  

df_long

,Description,FinQtr,Amount (Baht in Millions
0,1. Interest income,2011-Q1,104397
1,1.1 Interest on Loans,2011-Q1,81214
2,1.2 Transactions with financial institutio...,2011-Q1,7873
3,1.3 Financial leasing,2011-Q1,8295
4,1.4 Investments,2011-Q1,6999
...,...,...,...
1615,11. Impairment loss of loans and debt securities,2019-Q4,47403
1616,12. Profit (loss) before income tax and extra...,2019-Q4,67031
1617,13. Income tax,2019-Q4,13724
1618,14. Net profit (loss),2019-Q4,53308
1619,15. No. of banks,2019-Q4,19

# Part 4: Filtering and Cleaning Data

In [402]:
#11. Remove rows where the 'Description' contains 'Number of employees' or 'Number of directors' .
df_long = df_long[~df_long['Description'].str.contains('Number of employees|Number of directors', case=False, na=False)]

In [403]:
df_long

,Description,FinQtr,Amount (Baht in Millions
0,1. Interest income,2011-Q1,104397
1,1.1 Interest on Loans,2011-Q1,81214
2,1.2 Transactions with financial institutio...,2011-Q1,7873
3,1.3 Financial leasing,2011-Q1,8295
4,1.4 Investments,2011-Q1,6999
...,...,...,...
1615,11. Impairment loss of loans and debt securities,2019-Q4,47403
1616,12. Profit (loss) before income tax and extra...,2019-Q4,67031
1617,13. Income tax,2019-Q4,13724
1618,14. Net profit (loss),2019-Q4,53308
1619,15. No. of banks,2019-Q4,19

In [404]:
#12. Create a list of descriptions with subcategories.


subcategories = ['1.1  Interest on Loans', '1.2  Transactions with financial institutions and money market', 
                 '1.3  Financial leasing', '1.4  Investments', '1.5  Others', '2.1. Deposits', 
                 '2.2  Transactions with financial institutions and money market', '2.3  Debt issued and Borrowings', 
                 '2.4  Fees from the borrowings', '2.5  Premium to deposit insurance', '2.6  Others', 
                 '3.1 Acceptances, aval, and guarantees', '3.2  Credit cards', 
                 '3.3 ATM cards and other e-banking services', '3.4 Money transfer and collection', '3.5 Consultance', 
                 '3.6 Management fee', '3.7 Underwriting', '3.8 Securities custodian', '3.9 Cheque-related fee', 
                 '3.10 Letters of credits', '3.11 Commissions', '3.12 Other fee and services', '4.  Fees and service expenses', 
                 '5.  Gains (Losses) on tradings and foreign exchange transactions', 
                 '6.  Gains (Losses) on financial instrument designated at fair value throuth profit or (loss) Fair value option', 
                 '7.  Gains (Losses) on investments', '8.  Share of profit (loss) from investment for using equity method', 
                 '9.  Others operation incomes', '10.1  Salaries and employee benefits',
                 "10.2  Directors' remuneration",'10.3  Premises and equipments', '10.4 Tax and duties', '10.5  Others', 
                 '11.  Impairment loss of loans and debt securities', '12. Profit (loss) before income  tax and extraordinary items', 
                 '13. Income tax', '14. Net profit (loss)', '15. No. of banks']

df_long['Description'] = df_long['Description'].str.strip()

/var/folders/vm/thd582290vv8y8b_pv5103rm0000gn/T/ipykernel_34737/776890549.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_long['Description'] = df_long['Description'].str.strip()

In [405]:
# 13. Filter out descriptions from the DataFrame that belong to the subcategories list.

df_main = df_long[df_long['Description'].isin(subcategories)]

In [406]:
df_main

,Description,FinQtr,Amount (Baht in Millions
1,1.1 Interest on Loans,2011-Q1,81214
2,1.2 Transactions with financial institutions ...,2011-Q1,7873
3,1.3 Financial leasing,2011-Q1,8295
4,1.4 Investments,2011-Q1,6999
5,1.5 Others,2011-Q1,16
...,...,...,...
1615,11. Impairment loss of loans and debt securities,2019-Q4,47403
1616,12. Profit (loss) before income tax and extra...,2019-Q4,67031
1617,13. Income tax,2019-Q4,13724
1618,14. Net profit (loss),2019-Q4,53308
1619,15. No. of banks,2019-Q4,19

# Part 5: Data Enrichment (Merging with a Master Table)

In [408]:
# 14. Load the Categories_Master.xlsx file as a DataFrame with the correct data types for 'SubCategoryID' and 'CategoryID' .

categories_df = pd.read_excel("Categories_Master.xlsx", dtype={
    'SubCategoryID': int,
    'CategoryID': int})

categories_df['Description'] = categories_df['Description'].str.strip()
categories_df

,Description,SubCategoryID,SubCategory,CategoryID,Category
0,1.1 Interest on Loans,101,Interest on Loans,1,Interest income
1,1.2 Transactions with financial institutions ...,102,Transactions with financial institutions and m...,1,Interest income
2,1.3 Financial leasing,103,Financial leasing,1,Interest income
3,1.4 Investments,104,Investments,1,Interest income
4,1.5 Others,105,Others,1,Interest income
5,2.1. Deposits,201,Deposits,2,Interest expenses
6,2.2 Transactions with financial institutions ...,202,Transactions with financial institutions and m...,2,Interest expenses
7,2.3 Debt issued and Borrowings,203,Debt issued and Borrowings,2,Interest expenses
8,2.4 Fees from the borrowings,204,Fees from the borrowings,2,Interest expenses
9,2.5 Premium to deposit insurance,205,Premium to deposit insurance,2,Interest expenses
10,2.6 Others,206,Others,2,Interest expenses
11,"3.1 Acceptances, aval, and guarantees",301,"Acceptances, aval, and guarantees",3,Fees and service income
12,3.2 Credit cards,302,Credit cards,3,Fees and service income
13,3.3 ATM cards and other e-banking services,303,ATM cards and other e-banking services,3,Fees and service income
14,3.4 Money transfer and collection,304,Money transfer and collection,3,Fees and service income
15,3.5 Consultance,305,Consultance,3,Fees and service income
16,3.6 Management fee,306,Management fee,3,Fees and service income
17,3.7 Underwriting,307,Underwriting,3,Fees and service income
18,3.8 Securities custodian,308,Securities custodian,3,Fees and service income
19,3.9 Cheque-related fee,309,Cheque-related fee,3,Fees and service income
20,3.10 Letters of credits,310,Letters of credits,3,Fees and service income
21,3.11 Commissions,311,Commissions,3,Fees and service income
22,3.12 Other fee and services,312,Other fee and services,3,Fees and service income
23,4. Fees and service expenses,401,Fees and service expenses,4,Fees and service expenses
24,5. Gains (Losses) on tradings and foreign exc...,501,Gains (Losses) on tradings and foreign exchang...,5,Gains (Losses) on tradings and foreign exchang...
25,6. Gains (Losses) on financial instrument des...,601,Gains (Losses) on financial instrument designa...,6,Gains (Losses) on financial instrument designa...
26,7. Gains (Losses) on investments,701,Gains (Losses) on investments,7,Gains (Losses) on investments
27,8. Share of profit (loss) from investment for...,801,Share of profit (loss) from investment for usi...,8,Share of profit (loss) from investment for usi...
28,9. Others operation incomes,901,Others operation incomes,9,Others operation incomes
29,10.1 Salaries and employee benefits,1001,Salaries and employee benefits,10,Other operatiing expenses
30,10.2 Directors' remuneration,1002,Directors' remuneration,10,Other operatiing expenses
31,10.3 Premises and equipments,1003,Premises and equipments,10,Other operatiing expenses
32,10.4 Tax and duties,1004,Tax and duties,10,Other operatiing expenses
33,10.5 Others,1005,Others,10,Other operatiing expenses
34,11. Impairment loss of loans and debt securities,1101,Impairment loss of loans and debt securities,11,Impairment loss of loans and debt securities
35,12. Profit (loss) before income tax and extra...,1201,Profit (loss) before income tax and extraordi...,12,Profit (loss) before income tax and extraordi...
36,13. Income tax,1301,Income tax,13,Income tax
37,14. Net profit (loss),1401,Net profit (loss),14,Net profit (loss)
38,15. No. of banks,1501,No. of banks,15,No. of banks

In [447]:
# 15. Merge the transformed DataFrame with the master categories table using the 'Description' column as a key.

merged_df = pd.merge(df_main, categories_df, on='Description', how='left')
merged_df

,Description,FinQtr,Amount (Baht in Millions,SubCategoryID,SubCategory,CategoryID,Category
0,1.1 Interest on Loans,2011-Q1,81214,101,Interest on Loans,1,Interest income
1,1.2 Transactions with financial institutions ...,2011-Q1,7873,102,Transactions with financial institutions and m...,1,Interest income
2,1.3 Financial leasing,2011-Q1,8295,103,Financial leasing,1,Interest income
3,1.4 Investments,2011-Q1,6999,104,Investments,1,Interest income
4,1.5 Others,2011-Q1,16,105,Others,1,Interest income
...,...,...,...,...,...,...,...
1399,11. Impairment loss of loans and debt securities,2019-Q4,47403,1101,Impairment loss of loans and debt securities,11,Impairment loss of loans and debt securities
1400,12. Profit (loss) before income tax and extra...,2019-Q4,67031,1201,Profit (loss) before income tax and extraordi...,12,Profit (loss) before income tax and extraordi...
1401,13. Income tax,2019-Q4,13724,1301,Income tax,13,Income tax
1402,14. Net profit (loss),2019-Q4,53308,1401,Net profit (loss),14,Net profit (loss)
1403,15. No. of banks,2019-Q4,19,1501,No. of banks,15,No. of banks

# Part 6: Export the Final Dataset

In [412]:
#16. Generate the current timestamp in HH_MM_SS format.
timestamp = datetime.now().strftime("%H_%M_%S")
timestamp

'20_03_22'

In [413]:
#17. Export the final DataFrame to an Excel file named Output_<timestamp>.xlsx .
merged_df.to_excel(f"Output {timestamp}.xlsx", index=False)